/* Global */
:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-pink: #e91710;
    --color-black: #000000;
    --color-dark-grey: #363434;
    --color-grey: #616161;
    --color-blue:#0bb8ec;
    --color-yellow: #feb546;
    --color-orange: #feb546;
    --color-aqua: rgb(11, 158, 158);

    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Size */
    --size-border-radius: 4px;

    /* Animation duration*/
    --animation-duration: 800ms;
}

/* Universal tags */
*{
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    cursor: default;
    /*텍스트에 마우스 호버에도 마우스 모양이 변하지 않음*/
}

a {
    text-decoration: none;
    color: var(--color-white);
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    list-style:none;
}

button {
    background-color: transparent;
    /*투명하게*/
    cursor:pointer;
    border: none;
    outline:none;
}

/* Typhgraphy */

h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
}

h2 {
    font-size: var(--font-regular);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--font-regular);
    color:var(--color-black);
    margin: 8px 0;
}

p {
    font-size: var(--font-regular);
    font-weight: var(--font-regular);
    color:var(--color-black);
    margin: 4px 0;
}

/* Navbar */
#navbar {
    display: flex; /*수평으로 늘어서게 하기*/
    justify-content: space-between; /*요소가 양끝으로 간다.*/
    background-color: var(--color-blue);
    align-items: center; /*수직으로 가운데 정렬. 클래스가 flex여야만 쓸 수 있다.*/
    color: var(--color-white);
    padding: 16px;
}

.navbar__menu {
    display:flex; /*이렇게 하면 수평으로 늘어선 모양이 된다.*/
}

.navbar__logo {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}

.navbar__menu__item {
    padding: 8px 12px;
    margin: 0 4px; /*이렇게 하면 간격을 줄 수 있다.*/
    cursor: pointer; /*마우스를 올리면 손가락 모양으로 바뀐다.*/
    border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
    border: 1px solid var(--color-white);
}

.navbar__menu__item:hover {
    background-color: var(--color-aqua);
}

/* Home */
#home {
    background: url(imgs/water-gea0da4b9b_1920.jpg) center/cover no-repeat;
    padding: 40px;
    text-align: center;
    /*이렇게 하면 이미지와 글자 모두를 가운데 정렬할 수 있다.*/
}

.home__avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid var(--color-light-white);
}

.home__title,
.home__description {
    color: purple;
}

.home__contact {
    color: var(--color-orange);
    font-size: var(--font-regular);
    font-weight: var(--weight-bold);
    margin:24px;
    padding: 8px 12px;
    border: 2px solid var(--color-orange);
    border-radius: var(--size-border-radius);
}

/* Section common*/

.section {
    padding: 50px;
    text-align: center;
    margin: auto;
    /* 섹션 사항들의 마진이 양옆에 동등하게 배분되도록 한다.*/
}

.section__container { 
    max-width: 1200px;
    /*섹션 부분의 최대 크기를 지정한다.*/
    margin: auto;
}

/* About */

.about__majors {
    display:flex;
    justify-content: space-between;
    margin: 80px 0;
    
}

.major__icon {
    width: 170px;
    height: 170px;
    font-size: 70px;
    /*아이콘도 이렇게 폰트사이즈로 변경이 됨. 이미지가 아니기 때문이다.*/
    line-height: 170px;
    /*이렇게 height만큼 line-height를 지정하면 높이가 중간이 된다.*/
    /*왜? line-height는 글자를 포함한 한 줄의 높이를 지정하는 것이므로.*/
    margin:auto;
    color:lightblue;
    border: 1px solid var(--color-blue);
    border-radius: 50%;
    margin-bottom: 16px;
}

.major__icon i {
    transition: all var(--animation-duration) ease;
}

.major__icon:hover i{
    color:var(--color-orange);
    transform: rotate(-30deg) scale(1.1);
}
.major__title, .major__description {
    color: var(--color-dark-grey);
}

.major__description {
    font-size: var(--font-small);
}

.job {
    display: flex;
    align-items: center;
    /*이렇게 해서 글자를 가운데로 정렬한다.*/
}

.job__description {
    margin: 0 16px;
    text-align: left;
}

.job img {
    width: 100px;
    height: 100px;
    /*내 임의대로 넣은 것. 강의에는 없다.*/
}

.job__name, .job__period {
    color:black;
}

.job__name {
    font-size: var(--font-small);
}

.job__period {
    font-size: var(--font-micro);
}


/*skills*/

#skills {
    background-color: lightyellow;
}

.skillset {
    display: flex;
    background-color: lightgray;
    color:wheat;
    margin: 20px 0;
}

.skillset__title {
    color:ivory;
}

.skillset__left {
    flex-basis: 60%;
    /*아이템별로 flex basis를 지정해줘야 크기를 늘어나게 할 수 있다.
    아이템의 길이를 지정하는 속성이다.*/
    background-color: darkgray;
    padding: 20px 40px;
}

.skill__description {
    display:flex;
    justify-content: space-between;
}
.skill {
    margin-bottom: 30px;
}
.skill__bar {
    width: 100%;
    height: 3px;
    background-color: yellow;
}

.skillset__right {
    flex-basis: 40%;
    background-color: rgb(80, 77, 77);
}

.skill__value {
    height: 3px;
    background-color: orange;
}

.tools {
    background-color: gray;
}